*{
    margin:0;
    padding:0;
    background:linear-gradient(to botton,transparent,blue);
}
:root{
    --navbar-height:59px;
}
#logo{
    margin:34px 45px;
}
#logo img{
    height:38px;
    margin:-9px 45px;
}
#navbar{
    display:flex;
    align-items:center;
}
#navbar{
    position:relative;
    margin:auto;
}
#navbar ul{
    display:flex;
    margin-left:90px;
}
#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    height:48%;
    width:100%;
    margin-top:-10px;
    z-index: -1;
    opacity:0.4;
}
#navbar ul li{
    list-style:none;
    font-size:1rem;
}
#navbar ul li a{
    color:white;
  display:block;
  padding:7px 18px;
  border-radius:10px;
  text-decoration: none;
  border: 2px solid green;
  margin:3px;
  /* -webkit-box-reflect:below 0px linear-gradient(transparent,#0002); */
  transition: 0.5s;
  transition-delay:0s;
}
#navbar ul li a:hover{
    /* transition-delay:1.5s; */
/* color:#000; */
box-shadow:0 0 10px #0f0,
0 0 20px rgb(241, 20, 20),
0 0 40px rgb(240, 12, 69),
0 0 80px rgb(240, 12, 69),
0 0 160px rgb(240, 12, 69);
}
/* #navbar ul li a:nth-child(2){
color:#000;
filter:hue-rotate(80deg);
}
#navbar ul li a::before{
content:'';
position:absolute;
left:-20px;
top:50%;
transform:translateY(-50%);
width:20px;
height:2px;
background: #0f0;
box-shadow:5px -8px 0 #0f0,
           5px  8px 0 #0f0; 
transition:width 0.5s,left 0.5s,box-shadow 0.5s;
transition-delay:1s,0.5s,0s,0s;           
}

#navbar ul li a:hover::before{
width:60%;
height:100%;
left:-2px;
box-shadow:5px 0 0 #0f0,
           5px 0 0 #0f0; 
           transition-delay:0s,0.5s,1s,1s;    
}

#navbar ul li a:hover::after{
    width:60%;
    height:100%;
    left:-2px;
    box-shadow:-5px 0 0 #0f0,
               -5px 0 0 #0f0; 
               transition-delay:0s,0.5s,1s,1s;    
    }

    #navbar ul li a span{
    position:relative;
    z-index:100;
    } */

/* #navbar ul li a:hover, */
 #navbar ul li a.active{
  /* color:black; */
  /* background-color:white; */
}
body{
background-color:black;
    /* background-image:-moz-repeating-linear-gradient(); */
}
.right{
    display:inline-block;
    position:absolute;
    right:34px;
    top:35px;
    
    /* border:2px solid red; */
}
.btn a{
    text-decoration: none;
    color:black;
    background-color: rgb(182, 182, 231);
}
.container{
    border:3px solid white;
    margin:4px 62px;
    padding:46px ;
    width:29%;
    border-radius:28px;
    text-align: justify;
    float:left;
    color:azure;
}
.container h1{
    /* text-align:center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:blue;
}
#back{
    display:block;
    margin:auto;
    text-align:right;
    margin-left: 96px;
    margin-top:1px;
    float:right;
    float-weight:bold;
    margin-top:42px;
}
/* #back::after {
    content: "";
    clear: both;
    display: table;
  } */
  .main{
      display:flex;
      margin:10px;

  }
  #services{
      margin:34px;
      display:flex;
      background:linear-gradient(to botton,transparent,blue);
  }
  #services.box{
      border:2px solid brown;
      padding:34px;
      margin:3px 6px;
      border-radius:28px;
      
  }
  .h-secondary{
      font-size:2rem;
      padding:12px;
  } 
  .h-primary{
      font-size:3.8rpm;
      padding:12px;
  }
  #services{
      margin:34px;
      display:flex;
      /* height:12px; */
  }
  #services .box{
      border:3px solid brown;
      border-radius:25px;
      margin:8px;
      background-color: antiquewhite;
      /* height:12px; */
  }
  .center{
      text-align:center;
  }
  .dropdown{
      
  }
  #services ,box img{
      /* height:156px; */
      /* margin:7px; */
      text-align:center;
  }
#navbar{
    animation-name: preeti;
    animation-duration:2s;
    animation-iteration-count: 1;
    animation-fill-mode: alternate;
}
/* .right{
    animation-name: preeti;
    animation-duration:2s;
    animation-iteration-count: 1;
    animation-fill-mode: alternate;
} */
@keyframes preeti{
    0%{
        top:15px;
    }
    75%{
        top:5px;
    }
    100%{
        top:1px;
    }
}

.container{
    animation-name: preeti1;
    animation-duration:2s;
    animation-iteration-count: 1;
    animation-fill-mode: alternate;
}

.main{
    animation-name: preeti1;
    animation-duration:2s;
    animation-iteration-count: 1;
    animation-fill-mode: alternate;
}

@keyframes preeti1{
    0%{
        left:0px;
    }
    25%{
        left:75px;
    }
    75%{
        left:100px;
    }
    100%{
        left:115px;
    }
}



/* @import "compass/css3"; */

/* body{ 
  background:radial-gradient(200% 100% at bottom center,#F7F7B6,#E96F92,#75517D,#1B2947); 
  background:radial-gradient(220% 105% at top center,#1B2947 10%,#75517D 40%,#E96F92 65%,#F7F7B6); 
  background-attachment:fixed; 
  overflow:hidden;
}
@keyframes rotate{
  0%{
    transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  } 
  100%{
    transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  } 
} */
/* .stars{
  transform:perspective(500px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 100%;
  left:50%;
  animation:rotate 90s infinite linear;
}
.star{
  width:2px;
  height:2px;
  background:#F7F7B6;
  //border-radius:100%;
  position:absolute;
  top:0;
  left:0;
  transform-origin:0 0 -300px;
  transform:translate3d(0,0,-300px);
  backface-visibility:hidden;
} */